<h1>SLA Evaluations</h1>
<div class = "row">
<div class="col-md-8">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr class="header">
        <th></th>
        <th>Airlines</th>
        <th>Flight No</th>
        <th>Evaluation Date</th>
      </tr>
        <%= render @sla_evaluations %>
    </table>
  </div>
</div>
</div>