<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <ss:Styles>
    <ss:Style ss:ID="cell_border" ss:Name="Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </ss:Style>
    <ss:Style ss:ID="cell_bold" ss:Name="bold_title">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Color="#000000" ss:Bold="1"/>
      <Interior/>
    </ss:Style>
    <ss:Style ss:ID="s66" ss:Name="title">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="15" ss:Color="#000000" ss:Bold="1"/>
      <Interior/>
      </Style>
  </ss:Styles>
  <Worksheet ss:Name="CS 7-step Evaluations">
    <Table x:FullColumns="1" x:FullRows="1" ss:DefaultRowHeight="15">
      <Column ss:AutoFitWidth="0"/>
      <Column ss:AutoFitWidth="0"/>
      <Column ss:AutoFitWidth="0"/>
      <Column ss:AutoFitWidth="0"/>
      <Column ss:AutoFitWidth="0"/>
      <Column ss:AutoFitWidth="0"/>
      <Column ss:AutoFitWidth="0"/>
      <Column ss:AutoFitWidth="0"/>
      <Row>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">ID</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">Evaluator</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">Staff Name</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">Staff ID</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">Date</Data></Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">Flight</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">Times</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">S1</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">S2</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">S3</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">S4</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">S5</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">S6</Data></Cell>
        <Cell ss:StyleID="cell_bold"><Data ss:Type="String">S7</Data></Cell>
      </Row>
      <!--<%= render @cs_evaluations %>-->
    </Table>
  </Worksheet>
</Workbook>