<div class="row">
  <div class="col-md-12"><%= sanitize(airline_briefing.content) %>
    <% if current_user && current_user.staff_id == "04105" %>
      | <%= link_to "Delete", airline_briefing, method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>